
body {
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: darkslategray;
	background-image: linear-gradient(to right, seashell, cadetblue);
	min-width: 400px;
	justify-content: center;
	align-items: center;
	position: relative;
}

img {
	opacity: 0.5;
}

.btn-group button {
  background-color: darkgreen;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: lightgreen;
}

